section {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
}

#slider {
  max-width: 400px;
  width: 100%;
  margin : 0 auto;
  
}
  #slider p {
    margin-top: 20px;
  }

.circle {
  width: 20px; height: 20px;
  background: blue;
  border-radius: 50%;
  opacity: .2;
}
